<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <style>
  #bubble_chart {
    height: 600px;
    width: 1000px;
  }
  #area_chart {
    height: 300px;
    width: 1000px;
  }
  </style>
</head>
<body>
  <div class="container">
    <div id="bubble_chart">
      <svg></svg>
    </div>
    <div id="area_chart">
      <svg></svg>
    </div>
    <pre>
      {{report.pp_areas}}
    </pre>
  </div>
</body>

<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/nv.d3.js"></script>
<link href="/static/css/nv.d3.css" rel="stylesheet">
<script>
(function() {

  // The bubble chart.
  data = {{report.points|safe}}
  var height = 600, width = 1000;
  var chart = nv.models.scatterChart()
                .showDistX(true)
                .showDistY(true)
                .width(width).height(height)
                // .tooltipContent(function(key, x, y, e, graph) {
                //   return y
                //   // return JSON.stringify(e);
                //   })
                .color(d3.scale.category10().range());

  chart.xAxis.tickFormat(d3.format('.02f'));
  chart.yAxis
    .tickFormat(d3.format('.02f'));
    // .scale().domain([0, {{report.max_y}}])


  d3.select('#bubble_chart svg')
    .datum(data)
    .transition().duration(500)
    .call(chart);

  nv.utils.windowResize(chart.update);
  nv.addGraph(chart);

  // The area chart.
  linedata = {{report.areas|safe}}
  var height = 300, width = 1000;
  var chart = nv.models.stackedAreaChart()
  // var chart = nv.models.multiBarChart()
                .width(width).height(height)
                .clipEdge(true);
  chart.xAxis.tickFormat(d3.format('.02f'));
  chart.yAxis
    .tickFormat(d3.format('.02f'));
  d3.select('#area_chart svg')
    .datum(linedata)
    .transition().duration(500).call(chart);
  nv.utils.windowResize(chart.update);
  nv.addGraph(chart);

})();
</script>